@import "tailwindcss";

@theme {
    --color-primary: #4f46e5;
    --color-primary-hover: #4338ca;
    --color-success: #10b981;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
}

body {
    background-color: #f3f4f6;
    font-family: 'Inter', sans-serif;
}
